li{
  list-style: none
}
.minirefresh-totop{
  display: none;
}
.slider-tab{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 2rem;
  left: 0;
}
.swiper-container{
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 100%;
}
.swiper-slide{
  overflow-y: auto;
}
.movie-tag{
  display: flex;
  justify-content: flex-start;
  padding: .3rem;
  border-bottom: 1px solid #e4e4e4;
  .left-content{
    padding-right: .3rem;
    img{
      width: 1.6rem;
    }
  }
  .mid-content{
    width: 3.5rem;
    padding-right: .3rem;
    font-size: 12px;
    color: $baseColor;
    i{
      font-style: normal;
    }
    .title{
      font-weight: bold;
      color: #666;
      font-size: 14px;
    }
    .rate {
      .star-box{
        background: url('../../../assets/img/rating.png') no-repeat;
        background-position: 0 0;
        width: 55px;
        height: 11px;
        display: inline-block;
      }
    }
  }
  .right-content{
    text-align: right;
    width: 1.55rem;
    padding-top: .2rem;
    .box{
      p{
        font-size: 12px;
        color: $buyColor;
        margin-bottom: 8px;
      }
      .buy{
        display: inline-block;
        color: $buyColor;
        background-color: #fff;
        border: 1px solid $buyColor;
        padding: .04rem .34rem;
        border-radius: .04rem;
      }
    }
    .box2{
      p{
        color: #ffac2e;
        font-size: 12px;
        margin-bottom: 8px;
      }
      .buy{
        display: inline-block;
        color: #ffac2e;
        background-color: #fff;
        border: 1px solid #ffac2e;
        padding: .04rem .34rem;
        border-radius: .04rem;
      }
    }
  }
}
@media (min-width:800px) {
  .slider-header{
    span{
      height: .2rem;
      line-height: .2rem;
    }
    i{
      display: inline-block;
      background-color: $activeColor;
      height: 2px;
      position: absolute;
      bottom: 0;
      transition: all .2s;
    }
  }
  .movie-tag{
    .left-content{
      padding-right: .3rem;
      img{
        width: 100px;
      }
    }
    .mid-content{
      width: 350px;
      padding-right: .3rem;
    }
    .right-content{
      width: 200px;
      text-align: center;
    }
  }
}
